* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px dashed black;
    margin-top: 40px;
}


.customBox{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px dashed black;
    margin-top: 40px;
}

.mainBox{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px dashed black;
    margin-top: 40px;
}
.boxes{
    display: flex;
    justify-content: space-around;
}